/* Style untuk CLASS HEADER */
.header {
  /* sebagai jarak atas dengan ukuran 96px */
  padding-top: 6rem;
  background-color: #10367d;
}

/* Style untuk ID Project */
#project {
  background-color: #10367d;
}

svg {
  display: block;
  margin: -2rem;
}

section {
  /* sebagai jarak atas dengan ukuran 80px  */
  padding-top: 5rem;
}

#contact svg {
  /* memberikan jarak disemua sisi  */
  margin: -1px;
}
