/* Style untuk CLASS HEADER */
.header {
  /* sebagai jarak atas dengan ukuran 96px */
  padding-top: 6rem;
  background-color: #e2edff;
}

/* Style untuk ID Project */
#project {
  background-color: #e2edff;
}

section {
  /* sebagai jarak atas dengan ukuran 80px  */
  padding-top: 5rem;
}

#contact {
  /* memberikan jarak disemua sisi */
  margin: -1px;
}
